body {
  font-family: 'Amatic SC', cursive;
font-family: 'Roboto', sans-serif;
  color: #343a40;
}

.hp-header-text {
  text-align: center;
}

h2 {
  padding:32px;
}

.brandlogs {
  overflow: visible;
}

/* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }

.carousel-container {
  padding-bottom:64px;
}

.col-website {
  border: 1px solid;
  border-radius: 6px;
  border-color: #dee2e6;
  padding: 10px;
  margin: 32px;
}

.middlerow-container {
  padding: 32px;
}

.companylogo {
  margin-bottom: 16px;
}

.mdl-btn-spacing {
  padding-top: 16px;
  padding-bottom: 32px;
}

.cta {
  padding: 64px;
  margin-top: 32px;
  margin-bottom: 64;
  background-color: #efefef;
}

.contactpage {
  padding: 225px;
}

.port-row-btn {
  margin-top: 16px;
  margin-bottom: 16px;
}

.paypal {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.port-page-title {
  margin-top: 32px;
  padding-left:16px;
}

.port-page-middlerow {
  margin-bottom: 32px;
  padding-left:32px;
}
