/*.container-fluid {
    font-family: 'Lato', sans-serif;
}*/

.container {
    max-width: 1000px;
    font-family: 'Lato', sans-serif;

}

.collapse, .navbar-collapse {
    float: right;
}

.navbar-brand {
    margin-top: -20px;
}

.nav-links {
    display: block;
    float: none;
}

.footer-logo {
    margin-top: -20px;
}

.homepage-button {
    margin: 20px;
}

.new-zealand {
    max-width: 100%;
}

.company-logo {
    padding: 100px;
    background-color: gray;
}

.tahiti {
    max-width: 100%;
}

.fiji {
    max-width: 100%;
}

.central-coast {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.sf {
    max-width: 100%;
    padding-top: 10px;
}

.alyo {
    max-width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.anvato-bg {
    max-width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.scimage {
    max-width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sundar {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.my-skills {
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
}

@media (max-width: 720px) {
    .my-skills {
        max-width: 80%;
        padding-top: 15px;
    };
}

.navbar-inverse {
    padding: 30px 0px 30px 0px;
}

/*.button {
    padding: 25px 0px 15px 0px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    font-size: 25px;
}

#button {
    background-color: #0007dc;
    border-color: #0007dc;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}*/

.footer {
    max-width: 100%;
    padding: 50px 0px 50px 0px;
}

.company-box {
    border-style: solid;
    border-color: gray;
    background-color: white;
}
